<header class="app-header">
  <a class="app-header__logo" href="/api/admin" style="font-size: 1.8rem"
    >Medicine Management</a
  >
  <a
    class="app-sidebar__toggle"
    href="#"
    data-toggle="sidebar"
    aria-label="Hide Sidebar"
  ></a>
  <ul class="app-nav">
    <li class="dropdown">
      <a
        class="app-nav__item"
        href="/"
        style="text-decoration: none; font-weight: 600; font-size: 1rem"
        >Logout</a
      >
      <!-- <ul class="dropdown-menu settings-menu dropdown-menu-right"> -->

      <!-- </ul> -->
    </li>
  </ul>
</header>
